
body {
    background-color: #f5f2eb;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #c62828;
}

h2 {
    color: #222;
}

p {
    color: #555;
}
header {
    padding: 20px;
}

.ticker {
    background: #111;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    padding: 15px 0;
}

.ticker-content span {
   margin-right: 100px;
    letter-spacing: 2px;
}

@keyframes ticker {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 40px;
}

.hero h2 {
    font-size: 4rem;
    margin: 0;
    line-height: 1.1;
}

.hero p {
    font-size: 1.3rem;
    max-width: 700px;
    margin-top: 30px;
}
